.principal__conteneur {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.principal__article {
  border: 1px solid #c2c2c2;
  flex: 1 1 340px;
  padding: 25px;
  border-radius: 8px;
  background-color: var(--couleur2);
}
